<launch>
    <arg name="ns"/>
    <arg name="machine" default="$(arg ns)"/>
    <arg name="sim" default="false"/>
    <arg name="paused" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="compute_on_pi" default="false"/>


    <machine
            name="$(arg machine)"
            address="$(arg machine).local"
            user="pi"
            env-loader="/home/pi/picar_mum/catkin_ws/env.sh"
    />

    <!-- if running on real vehicle -->
    <group unless="$(arg sim)">
        <!-- start keyboard control -->


        <include file="$(find motor)/launch/motor_node.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="machine" value="$(arg machine)"/>
        </include>

    </group>

    <!-- if running on simulated vehicle -->
    <group if="$(arg sim)">
        <!-- start keyboard control -->

        <include file="$(find keyboard_control)/launch/keyboard_control_node.launch">
            <arg name="ns" value="simcar"/>
        </include>

        <!-- import strecke mit punkten grade aus-->
        <include file="$(find simulation)/launch/simple_loop_cw.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="paused" value="$(arg paused)"/>
            <arg name="gui" value="$(arg gui)"/>
        </include>
    </group>



    <!-- start curve_detection_node -->
    <remap from="trajectory_test_node/car_cmd" to="motor_node/car_cmd" />
    <include file="$(find race_control)/launch/trajectory_test_node.launch">
        <arg name="ns" value="$(arg ns)"/>
        <arg name="machine" value="$(arg machine)"/>
        <arg name="local" value="$(eval not arg('compute_on_pi'))"/>
    </include>


</launch>