<launch>
    <arg name="ns"/>
    <arg name="machine" default="$(arg ns)"/>
    <arg name="sim" default="false"/>
    <arg name="paused" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="compute_on_pi" default="false"/>


    <machine
            name="$(arg machine)"
            address="$(arg machine).local"
            user="pi"
            env-loader="/home/pi/picar_mum/catkin_ws/env.sh"
    />

    <group unless="$(arg sim)">
        <!-- start camera node -->
        <include file="$(find camera)/launch/camera_node.launch">
            <arg name="ns" value="$(arg ns)"/>
        </include>

        <include file="$(find motor)/launch/motor_node.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="machine" value="$(arg machine)"/>
        </include>
    </group>

    <group if="$(arg sim)">
        <include file="$(find simulation)/launch/null_loop.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="paused" value="$(arg paused)"/>
            <arg name="gui" value="$(arg gui)"/>
        </include>
    </group>


    <!--start color_normalization_node -->
    <remap from="color_normalization_node/input_image/compressed" to="camera_node/image/compressed"/>
    <include file="$(find color_normalization)/launch/color_normalization_node.launch">
        <arg name="ns" value="$(arg ns)"/>
        <arg name="machine" value="$(arg machine)"/>
        <arg name="local" value="$(eval not arg('compute_on_pi'))"/>
    </include>

    <!-- launch aprlitag_detection_node -->
    <remap from="apriltag_detection_node/input_image/raw" to="color_normalization_node/output_image/raw"/>
    <group if="$(arg sim)">
        <include file="$(find apriltag_detection)/launch/apriltag_detection_node.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="machine" value="$(arg machine)"/>
            <arg name="local" value="$(eval not arg('compute_on_pi'))"/>
            <arg name="distorted_input" value="false"/>
        </include>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find apriltag_detection)/launch/apriltag_detection_node.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="machine" value="$(arg machine)"/>
            <arg name="local" value="$(eval not arg('compute_on_pi'))"/>
            <arg name="distorted_input" value="true"/>
        </include>
    </group>


</launch>