<!-- Launchscript for tests in process by paul ss-->
<launch>
    <arg name="ns"/>
    <arg name="sim" default="false"/>
    <arg name="machine" default="$(arg ns)"/>

    <machine
            name="$(arg machine)"
            address="$(arg machine).local"
            user="pi"
            env-loader="/home/pi/picar_mum/catkin_ws/env.sh"
    />

    <!-- if running on real vehicle -->
    <group unless="$(arg sim)">

        <!-- start keyboard control -->
        <include file="$(find keyboard_control)/launch/keyboard_control_node.launch">
            <arg name="ns" value="$(arg ns)"/>
        </include>

        <!-- start node controlling the motors -->
        <include file="$(find motor)/launch/motor_node.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="machine" value="$(arg machine)"/>
        </include>

        <!-- start node controlling the imu -->
        <include file="$(find imu)/launch/imu_node.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="machine" value="$(arg machine)"/>
        </include>

        <!-- start camera_node -->
        <include file="$(find camera)/launch/camera_node.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="machine" value="$(arg machine)"/>
        </include>

        <!-- start decompress node -->
        <remap from="camera/image/compressed" to="camera_node/image/compressed"/>
        <include file="$(find camera)/launch/decompress_node.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="machine" value="$(arg machine)"/>
            <arg name="local" value="true"/>
        </include>

         <!-- start the image node to show image on computer screen -->
        <!-- ><remap from="calibrate_intrinsics_node/image/raw" to="camera/image/raw"/>-->
        <include file="$(find video_live_stream)/launch/video_live_stream_node.launch">
            <!--<arg name="ns" value="$(arg ns)"/>-->
        </include>
        <!-- TODO: livestream does not work find out how to create new node and read data! -->

    </group>

    <!-- if running on simulated vehicle -->
    <group if="$(arg sim)">
        <!-- start keyboard control -->
        <include file="$(find keyboard_control)/launch/keyboard_control_node.launch">
            <arg name="ns" value="simcar"/>
        </include>


        <include file="$(find simulation)/launch/simple_loop_ccw.launch">
            <arg name="ns" value="simcar"/>
            <arg name="paused" value="false"/>
            <arg name="gui" value="true"/>
        </include>
    </group>
</launch>