<launch>
    <!-- the hostname of the car to control -->
    <arg name="ns"/>

    <!-- launch keyboard control node -->
    <node ns="$(arg ns)" name="velocity_control_node" pkg="velocity_control_tuning"
          type="velocity_control_node.py" required="true"
          output="screen"/>



    <!-- Subscriptions -->
    <!-- "~velocity_estimated": std_msgs/Float32 -->

    <!-- Publications -->
    <!-- "motor_node/car_cmd": picar_msgs/CarCmd -->

</launch>