<launch>
    <arg name="ns"/>
    <arg name="local"/>
    <arg name="machine"/>

    <!-- launch lane_pose_estimation_node -->
    <group if="$(arg local)">
        <group ns="$(arg ns)">
            <node pkg="lane_pose_estimation" type="lane_pose_estimation_node.py" name="lane_pose_estimation_node" output="screen"/>
        </group>
    </group>

    <group unless="$(arg local)">
        <group ns="$(arg ns)">
            <node machine="$(arg machine)" pkg="lane_pose_estimation" type="lane_pose_estimation_node.py" name="lane_pose_estimation_node" output="screen"/>
        </group>
    </group>


    <!-- Subscriptions -->
    <!-- "~track_position": geometry_msgs/Point32 -->

    <!-- Publications -->
    <!-- "~pose": picar_msgs/LanePose -->

</launch>