<launch>
    <arg name="ns"/>
    <arg name="config_file_name" default="$(arg ns)"/>
    <arg name="machine"/>

    <!-- launch motor node -->
    <group ns="$(arg ns)">
        <node machine="$(arg machine)" name="motor_node" pkg="motor" type="motor_node.py" output="screen">
            <param name="config_file_name" value="$(arg config_file_name)"/>
        </node>
    </group>

    <!-- Subscriptions -->
    <!-- "~car_cmd": picar_msgs/CarCmd -->

    <!-- Publications -->

</launch>