<launch>
    <arg name="ns"/>
    <arg name="machine"/>
    <arg name="local"/>

    <!-- define the picar machine to run the remote nodes on. "veh" should be the hostname of the car -->
    <machine
            name="$(arg machine)"
            address="$(arg machine).local"
            user="pi"
            env-loader="/home/pi/picar_mum/catkin_ws/env.sh"
    />

    <!-- launch color_normalization_node -->
    <group if="$(arg local)">
        <group ns="$(arg ns)">
            <node pkg="color_normalization" type="color_normalization_node.py" name="color_normalization_node" output="screen"/>
        </group>
    </group>

    <group unless="$(arg local)">
        <group ns="$(arg ns)">
            <node machine="$(arg machine)" pkg="color_normalization" type="color_normalization_node.py" name="color_normalization_node" output="screen"/>
        </group>
    </group>

    <!-- Subscriptions -->
    <!-- "~input_image/compressed": sensor_msgs/CompressedImage -->

    <!-- Publications -->
    <!-- "~output_image/raw": sensor_msgs/Image -->

</launch>