<launch>
    <arg name="veh"/>
    <arg name="config_file_name" default="$(arg veh)"/>
    <arg name="intrinsics_file_name" default="$(arg veh)"/>

    <!-- define the picar machine to run the remote nodes on. "veh" should be the hostname of the car -->
    <machine
            name="$(arg veh)"
            address="$(arg veh).local"
            user="pi"
            env-loader="/home/pi/picar_mum/catkin_ws/env.sh"
    />

    <!-- launch camera_node -->
    <group ns="$(arg veh)">
        <node machine="$(arg veh)" pkg="camera" type="camera_node.py" name="camera_node" output="screen">
            <param name="config_file_name" value="$(arg config_file_name)"/>
            <param name="intrinsics_file_name" value="$(arg intrinsics_file_name)"/>
        </node>
    </group>


    <!-- Subscriptions -->

    <!-- Publications -->
    <!-- "~image/compressed": sensor_msgs/CompressedImage -->
    <!-- "~camera_info": sensor_msgs/CameraInfo -->
    <!-- "~camera_info_intrinsic_calibration": sensor_msgs/CameraInfo -->

</launch>
