<launch>
    <arg name="ns"/>
    <arg name="intrinsics_file_name" default="default"/>

    <!-- launch calibrate_extrinsics_node -->
    <group ns="$(arg ns)">
        <node pkg="extrinsics" type="calibrate_extrinsics_node.py"
              name="calibrate_extrinsics_node" required="true"
              output="screen">
        </node>
    </group>

    <!-- Subcriptions -->
    <!-- "~compressed_image": sensor_msgs/CompressedImage -->
    <!-- Subscriptions -->

    <!-- Publications -->

</launch>