<launch>
    <arg name="ns"/>
    <arg name="machine"/>

    <!-- launch motor node -->
    <group ns="$(arg ns)">
        <node machine="$(arg machine)" name="imu_node" pkg="imu" type="imu_node.py" output="screen">
        </node>
    </group>

    <!-- Subscriptions -->

    <!-- Publications -->
    <!-- "~imu": sensor_msgs/Imu -->

</launch>