<launch>
    <arg name="ns"/>
    <arg name="local"/>
    <arg name="machine"/>

    <!-- launch lane_control_node -->
    <group ns="$(arg ns)">
        <group if="$(arg local)">
            <node pkg="lane_control" type="lane_control_node.py" name="lane_control_node" output="screen"/>
        </group>

        <group unless="$(arg local)">
            <node machine="$(arg machine)" pkg="lane_control" type="lane_control_node.py" name="lane_control_node" output="screen"/>
        </group>
    </group>

    <!-- Subscriptions -->
    <!-- "~pose_input": picar_msgs/LanePose -->

    <!-- Publications -->
    <!-- "~distance_error": std_msgs/Float64 -->
    <!-- "~angle_error": std_msgs/Float64 -->
    <!-- "~combined_error": std_msgs/Float64 -->
    <!-- "~car_cmd": picar_msgs/CarCmd -->

</launch>