<launch>
    <arg name="ns"/>
    <arg name="local"/>
    <arg name="machine"/>

    <arg name="config_file_name" default="$(arg ns)"/>

    <!-- launch leader_detection_node -->
    <group if="$(arg local)">
        <group ns="$(arg ns)">
            <node pkg="leader_detection" type="leader_detection_node.py" name="leader_detection_node" output="screen">
                <param name="config_file_name" value="$(arg config_file_name)"/>
            </node>

        </group>
    </group>

    <group unless="$(arg local)">
        <group ns="$(arg ns)">
            <node machine="$(arg machine)" pkg="leader_detection" type="leader_detection_node.py" name="leader_detection_nodee" output="screen"/>
            <param name="config_file_name" value="$(arg config_file_name)"/>
        </group>
    </group>

    <!-- Subscriptions -->
    <!-- "~input_image/raw": sensor_msgs/Image -->

    <!-- Publications -->
    <!-- "~track_position": geometry_msgs/Point32 -->

</launch>