<model>
    <name>Calib Plane</name>
    <verion>1.0</verion>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Thies Lennart Alff</name>
        <email>thies.lennart.alff@tuhh.de</email>
    </author>

    <description>
        Calibration pattern plane.
    </description>
</model>
